<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>关于我们</title>

  <body>
    <br>
    <br>
    <hr>
    <hr>
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="index.html">同袍工作室</a>
    <br>
    <br>
    <hr>
    <hr>
	<h1>哪位有文采的小少年给写份几百字的社团介绍啊啊啊，小弟实在词穷！</h2>


  

</body></html>