<html>
<head>
    <title>Login</title>
    <script type=text/javasript> 
    function register(){
        window.location.href='register.html'

    }
</script>


</head>
<body>
    <h1> Login</h1>
    {% for item in error %}
    <p style "color:red;">{{item}}</p>
    {%endfor%}


    <form action="" method="post">{%csrf_token%}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Login">
<!--        <input type="button" value="Register" onclick="window.location.href('register.html')">
        <input type="button" Value="forgetpassword"
        onclick="window.location.href('forgetpassword.html')" >-->
        <input value="register" type='button' onClick="windon.open('register.html')">
        <a href="register.html"> <input type='button' value="register"></a>
        <a href="forgetpassword.html"> <input type='button' value="forgetpassword"></a>
    </form>

</body>




</html>
