<html>
<head>
    <title>Login</title>
    <script type=text/javasript> 
    function register(){
        window.location.href='regist'

    }
</script>


</head>
<body>
    <h1> Login</h1>
    {% for item in error %}
    <p style "color:red;">{{item}}</p>
    {%endfor%}


    <form action="" method="post">{%csrf_token%}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Login">
        <input type="button" value="Register" onclick="register()">
    </form>

</body>




</html>
