<html>
<head>
<title> Join us </title>

</head>
<body>
    <h1>welcome Join us </h1>
    {%if form.errors%}

        <p style="color:red:">
        Plese correct the error{{form.error|pluralize}} below
        </p>
    {%endif%}
    {%for item in error%}
        <p style="color:red;">{{item}}</p>

    {%endfor%}
    <form action="" method="post">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="register">
    </form>

</body>
</html>
